.features-section2-container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.feature-section2-image {
    width: 600px;
    height: 520px;
    margin-top: 50px;
    margin-left: 30px;
    /* padding: 10px; */
    border-radius: 8px;
}

.feature-section2-heading1 {
    margin-top: 60px;
    line-height: 32px;

}
.feature-section2-content{
    /* margin-left: 120px; */
    /* padding: 25px; */
    width: 600px;
}

@media screen and (max-width: 1000px) {
    .feature-section2-image{
        width: 80%;;
    }
    .feature-section2-content{
        width: 78%;
    }
}

@media screen and (max-width: 630px) {
    .feature-section2-image{
        display: none;
    }
}
