.navbarContact{
    margin-right: 24px;
    text-decoration: none;
    font-weight: 500;
}

.navbarAbout{
    text-decoration: none;
    font-weight: 500;
}

@media screen and (max-width: 770px) {
  .desktop-responsive-navbar{
    display: none !important;
}
}
@media screen and (min-width: 770px) {
  .mobile-responsive-navbar{
    display: none !important;
}
}
.whole-navbar{
    background-color: #5685aa !important;
}