.features-section-container{
    padding: 50px 30px;
    height: 400px;
}

.features-section-subcontainer2{
position: relative;
padding: 5px 68px;
}
.stats-of-features{
margin-top: 70px;
}

@media screen and (max-width: 770px) {

    .features-section-subcontainer2{
position: relative;
padding: 5px 8px;
}
.stats-of-features{
margin-top: 50px;
}
}