.glallery-container {
    height: fit-content;
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-evenly;
}

.glallery-images {
    /* width: 500px !important; */
    /* padding: 40px, 80px !important; */
    height: 300px;
    width: 30%;
    border-radius: 8px;
}
@media screen and (max-width: 1000px) {
.glallery-images {
    width: 45%;
}
}
@media screen and (max-width: 630px) {
  
.glallery-images {
    width: 90%;
    height: 250px;
}
.glallery-container {
    margin-top: 100px;
}
}

@media screen and (max-width: 375px) {
.glallery-container {
    margin-top: 200px;
}
}